In [1]:
import re
import pandas as pd
import numpy as np
from pandas.testing import assert_frame_equal


from data_job_etl.config.definitions import TECHNOS, OTHER_TECHNOS, MAD_TECHNOS

In [2]:
def preprocessed():
    normal = pd.DataFrame({
        'id': 56886,
        'url': 'https://www.welcometothejungle.com/fr/companies/52-entertainment/jobs/data-engineer',
        'title': 'Data Engineer',
        'company': '52 Entertainment',
        'location': "Villeneuve-D'ascq",
        'type': 'CDI',
        'industry': 'Jeux vid√©o',
        'remote': 'T√©l√©travail total possible',
        'created_at': np.datetime64('2023-03-26T01:00:00.000000'),
        'text': "52 Entertainment is a leading e-gaming company, worldwide leader on the Online Bridge with recognized brands like  Bridge Base Online ,  Funbridge ,  Exoty ,  Casualino  and on the e-sailing thanks to its well known  Virtual Regatta . One of the worldwide leader on a lot of e-mind and strategy games like Tarot, Canasta or Belote to name a few. At the crossroads of gaming, entertainment and e-sport 52 entertainment provides unique experiences to truthful communities. Based in France (Lille) with offices and people all around the globe 52 entertainment invents the tomorrow‚Äôs company based on  People ,  Innovation  and  Mindset . Job description We are looking for a  Data Engineer  to join our Data Team. You will be responsible for  developing, implementing, and monitoring the Data Pipelines of several games of the group . You will work inside the Data Team (1 Data Engineer, 2 Analytics Engineers, 4 Data Analysts, 1 Data scientist) and you will report to the Head of Growth and Data. We use a  modern data stack  that is primarily composed of  Google BigQuery, dbt, Airbyte, Prefect, Deepnote  and  Looker . The Data Engineering activities focus on GCP, Airbyte, Prefect but also includes Prometheus, Thanos, Graphana tools and Kubernetes nodes management.  Team description The Data team at 52 entertainment is full of talents working on Business & Financial, Product and Marketing KPIs. It is a cross-functional team that connects with all business units (US, Europe, Asia).  The Data team is fully remote  (but all the team is currently based in Europe). We are using top notch communication & project management tools (Slack/Jira/Confluence) and a fantastic stack of technical tools (Airbyte, Prefect, Google Big Query, dbt, Looker, ‚Ä¶) . We talk to each other on a daily basis and organize frequent virtual coffees ‚òïÔ∏è.  Some are geeks, some are not, apply as you are,  we‚Äôre a diversity-friendly team  üßï üëßüèΩ  ü•∑ üë®üèø üë© ü¶æ. Stack Data: Airbyte, Prefect, Google BigQuery, dbt, Github, VSCode, Deepnote & Looker Project Management: Slack, Google Drive, Confluence, Jira Missions Create, monitor, and optimize Data Pipelines for existing Games and third-party sources. Manage relations with B.U. Developers and be proactive to prevent pipeline deprecation because of products evolution.  Ingest third-party data and setup data consumption endpoints.  Ensuring best practices for data integrity and performances. Investigate new initiatives like Data Cataloging, Data Discovery, ML Ops Provide our Data Scientists with Big Data tools that will allow them to process our data more easily (prediction, machine learning, ‚Ä¶). We‚Äôre excited about you because‚Ä¶ You‚Äôve been hesitating between Dev Ops and Data Engineering for a while, but realized that the later was much more fun+ While you already have some experience in this role, you are passionate to learn even more and want to grow as an expert in a friendly team, while being coached by a senior Data Engineer. +You can easily discuss technical concepts with other Dev Ops to help other teams create systems you will need to connect your pipelines to. +You like to learn new concepts and tools and are not afraid of getting your hands dirty. +Benefits Work in a start-up with exceptional growth +Highly interesting work environment with flat hierarchies, fast pace and fun +You‚Äôll have a real impact on people‚Äôs lives! If you have the potential, we will do everything to help you to achieve the highest level of personal and professional development. +Ultimate flexibility. we try to have team overlap every day, but outside that work whenever and wherever you work best. + Extreme autonomy. No micro-managing here. After onboarding, you‚Äôll be given high-level direction and then left to solve it the way you feel is best. +Amazingly friendly Data team. +‚ÄÉ Your Profile Minimum 1.5 year of experience either in Data Engineering, Big Data or DevOps +Familiar with modern data stacks and principles (cloud-based platforms/data-lakes and managed services) +Skilled in SQL and Python +Experienced in working in interdisciplinary teams and in multi-cultural team environments +Strong communication skills and facilitation abilities +Priorities management & time management skills +Highly open minded +Diplomacy, pedagogy and humility +Fluent English. +Collecting applications until April 7th 2023  First interviews from March 27th 2023 onward. Our hiring process is sequential : we know job seeking is a stressful time of life, and we‚Äôll make sure things are transparent from our side. If you don‚Äôt pass step 2, we won‚Äôt waste your time on step3.  Interview steps Step 1 Visio-call - Preliminary interview where the scope of mission, our company, your aspirations, and salary compensation are discussed to see if we agree on the important things on both sides (30 min) +Step 2 Written case-study - Few questions to check that written communication is clear +Step 3 Technical case-study - Skills check (take home assignment) on some data problems (no more than 2 hours of involvement) +Step 3 Visio-call - Debrief from assignment + Experience and background discussion to get to know you and your experience in Data. Interview questions will be sent ahead of time. +"
    }, index=[0])
    missing_value = pd.DataFrame({
        'id': 1,
        'url': 'https://www.welcometothejungle.com/fr/missing-value',
        'title': 'Data Engineer',
        'company': 'Missing Data',
        'location': "China",
        'type': 'CDD',
        'industry': 'Surveillance',
        'remote': np.nan,
        'created_at': np.datetime64('2023-03-26T01:00:00.000000'),
        'text': "Lorem ipsum"
    }, index=[0])
    return pd.concat([normal, missing_value], ignore_index=True)

In [3]:
preprocessed = preprocessed()

### extract_technos

In [4]:
def extract_technos(text):
    words = re.split(r'\W+', text)
    technos = {w for w in words if w.lower() in TECHNOS}
    return list(technos)

### add_technos_to_stack

In [6]:
preprocessed['stack'] = preprocessed['text'].apply(lambda x: extract_technos(x))

In [7]:
print(type(preprocessed.loc[0, 'stack']))

<class 'list'>

In [25]:
preprocessed

,id,url,title,company,location,type,industry,remote,created_at,text,stack
0,56886,https://www.welcometothejungle.com/fr/companie...,Data Engineer,52 Entertainment,Villeneuve-D'ascq,CDI,Jeux vid√©o,T√©l√©travail total possible,2023-03-26 01:00:00,52 Entertainment is a leading e-gaming company...,"[Airbyte, Prefect, GCP, SQL, BigQuery, Deepnot..."
1,1,https://www.welcometothejungle.com/fr/missing-...,Data Engineer,Missing Data,China,CDD,Surveillance,NaN,2023-03-26 01:00:00,Lorem ipsum,[]

### expand_stack

In [27]:
technos = pd.DataFrame(preprocessed['stack'].to_list())
expanded = pd.merge(preprocessed, technos, left_index=True, right_index=True)

In [28]:
expanded

,id,url,title,company,location,type,industry,remote,created_at,text,...,2,3,4,5,6,7,8,9,10,11
0,56886,https://www.welcometothejungle.com/fr/companie...,Data Engineer,52 Entertainment,Villeneuve-D'ascq,CDI,Jeux vid√©o,T√©l√©travail total possible,2023-03-26 01:00:00,52 Entertainment is a leading e-gaming company...,...,GCP,SQL,BigQuery,Deepnote,Github,dbt,Looker,Prometheus,Python,Kubernetes
1,1,https://www.welcometothejungle.com/fr/missing-...,Data Engineer,Missing Data,China,CDD,Surveillance,NaN,2023-03-26 01:00:00,Lorem ipsum,...,None,None,None,None,None,None,None,None,None,None

In [22]:
df_techno = pd.DataFrame({0: ['Airbyte', None], 
                          1: ['Prefect', None],
                          2: ['GCP', None],
                          3: ['SQL', None],
                          4: ['BigQuery', None],
                          5: ['Deepnote', None],
                          6: ['Github', None],
                          7: ['dbt', None],
                          8: ['Looker', None],
                          9: ['Prometheus', None],
                          10: ['Python', None],                          
                          11: ['Kubernetes', None],
                         })
df_techno

,0,1,2,3,4,5,6,7,8,9,10,11
0,Airbyte,Prefect,GCP,SQL,BigQuery,Deepnote,Github,dbt,Looker,Prometheus,Python,Kubernetes
1,None,None,None,None,None,None,None,None,None,None,None,None

In [24]:
assert_frame_equal(df_technos, df_techno)

In [29]:
processed = pd.merge(preprocessed, df_technos, left_index=True, right_index=True)

In [30]:
processed

,id,url,title,company,location,type,industry,remote,created_at,text,...,2,3,4,5,6,7,8,9,10,11
0,56886,https://www.welcometothejungle.com/fr/companie...,Data Engineer,52 Entertainment,Villeneuve-D'ascq,CDI,Jeux vid√©o,T√©l√©travail total possible,2023-03-26 01:00:00,52 Entertainment is a leading e-gaming company...,...,GCP,SQL,BigQuery,Deepnote,Github,dbt,Looker,Prometheus,Python,Kubernetes
1,1,https://www.welcometothejungle.com/fr/missing-...,Data Engineer,Missing Data,China,CDD,Surveillance,NaN,2023-03-26 01:00:00,Lorem ipsum,...,None,None,None,None,None,None,None,None,None,None

### pivot_technos

In [59]:
def pivot_technos(df):
    """ 
    Melt dataframe to have one technology per row (for usage in Tableau). 
    """
    unpivotted_columns = ['id', 'url', 'title', 'company', 'location', 'type', 'industry', 'remote', 'created_at',
                          'text', 'stack']
    pivotted_technos = pd.melt(df, id_vars=unpivotted_columns).sort_values(by=['company', 'created_at', 'title'])
    pivotted_technos.reset_index(drop=True, inplace=True)
    return pivotted_technos

In [60]:
pivotted = pivot_technos(expanded)
pivotted.to_csv('/Users/donor/PycharmProjects/data-job-etl/tests/data/test_melt_technos.csv',
                index=False)
pivotted

,id,url,title,company,location,type,industry,remote,created_at,text,stack,variable,value
0,56886,https://www.welcometothejungle.com/fr/companie...,Data Engineer,52 Entertainment,Villeneuve-D'ascq,CDI,Jeux vid√©o,T√©l√©travail total possible,2023-03-26 01:00:00,52 Entertainment is a leading e-gaming company...,"[Airbyte, Prefect, GCP, SQL, BigQuery, Deepnot...",0,Airbyte
1,56886,https://www.welcometothejungle.com/fr/companie...,Data Engineer,52 Entertainment,Villeneuve-D'ascq,CDI,Jeux vid√©o,T√©l√©travail total possible,2023-03-26 01:00:00,52 Entertainment is a leading e-gaming company...,"[Airbyte, Prefect, GCP, SQL, BigQuery, Deepnot...",1,Prefect
2,56886,https://www.welcometothejungle.com/fr/companie...,Data Engineer,52 Entertainment,Villeneuve-D'ascq,CDI,Jeux vid√©o,T√©l√©travail total possible,2023-03-26 01:00:00,52 Entertainment is a leading e-gaming company...,"[Airbyte, Prefect, GCP, SQL, BigQuery, Deepnot...",2,GCP
3,56886,https://www.welcometothejungle.com/fr/companie...,Data Engineer,52 Entertainment,Villeneuve-D'ascq,CDI,Jeux vid√©o,T√©l√©travail total possible,2023-03-26 01:00:00,52 Entertainment is a leading e-gaming company...,"[Airbyte, Prefect, GCP, SQL, BigQuery, Deepnot...",3,SQL
4,56886,https://www.welcometothejungle.com/fr/companie...,Data Engineer,52 Entertainment,Villeneuve-D'ascq,CDI,Jeux vid√©o,T√©l√©travail total possible,2023-03-26 01:00:00,52 Entertainment is a leading e-gaming company...,"[Airbyte, Prefect, GCP, SQL, BigQuery, Deepnot...",4,BigQuery
5,56886,https://www.welcometothejungle.com/fr/companie...,Data Engineer,52 Entertainment,Villeneuve-D'ascq,CDI,Jeux vid√©o,T√©l√©travail total possible,2023-03-26 01:00:00,52 Entertainment is a leading e-gaming company...,"[Airbyte, Prefect, GCP, SQL, BigQuery, Deepnot...",5,Deepnote
6,56886,https://www.welcometothejungle.com/fr/companie...,Data Engineer,52 Entertainment,Villeneuve-D'ascq,CDI,Jeux vid√©o,T√©l√©travail total possible,2023-03-26 01:00:00,52 Entertainment is a leading e-gaming company...,"[Airbyte, Prefect, GCP, SQL, BigQuery, Deepnot...",6,Github
7,56886,https://www.welcometothejungle.com/fr/companie...,Data Engineer,52 Entertainment,Villeneuve-D'ascq,CDI,Jeux vid√©o,T√©l√©travail total possible,2023-03-26 01:00:00,52 Entertainment is a leading e-gaming company...,"[Airbyte, Prefect, GCP, SQL, BigQuery, Deepnot...",7,dbt
8,56886,https://www.welcometothejungle.com/fr/companie...,Data Engineer,52 Entertainment,Villeneuve-D'ascq,CDI,Jeux vid√©o,T√©l√©travail total possible,2023-03-26 01:00:00,52 Entertainment is a leading e-gaming company...,"[Airbyte, Prefect, GCP, SQL, BigQuery, Deepnot...",8,Looker
9,56886,https://www.welcometothejungle.com/fr/companie...,Data Engineer,52 Entertainment,Villeneuve-D'ascq,CDI,Jeux vid√©o,T√©l√©travail total possible,2023-03-26 01:00:00,52 Entertainment is a leading e-gaming company...,"[Airbyte, Prefect, GCP, SQL, BigQuery, Deepnot...",9,Prometheus
10,56886,https://www.welcometothejungle.com/fr/companie...,Data Engineer,52 Entertainment,Villeneuve-D'ascq,CDI,Jeux vid√©o,T√©l√©travail total possible,2023-03-26 01:00:00,52 Entertainment is a leading e-gaming company...,"[Airbyte, Prefect, GCP, SQL, BigQuery, Deepnot...",10,Python
11,56886,https://www.welcometothejungle.com/fr/companie...,Data Engineer,52 Entertainment,Villeneuve-D'ascq,CDI,Jeux vid√©o,T√©l√©travail total possible,2023-03-26 01:00:00,52 Entertainment is a leading e-gaming company...,"[Airbyte, Prefect, GCP, SQL, BigQuery, Deepnot...",11,Kubernetes
12,1,https://www.welcometothejungle.com/fr/missing-...,Data Engineer,Missing Data,China,CDD,Surveillance,NaN,2023-03-26 01:00:00,Lorem ipsum,[],0,None
13,1,https://www.welcometothejungle.com/fr/missing-...,Data Engineer,Missing Data,China,CDD,Surveillance,NaN,2023-03-26 01:00:00,Lorem ipsum,[],1,None
14,1,https://www.welcometothejungle.com/fr/missing-...,Data Engineer,Missing Data,China,CDD,Surveillance,NaN,2023-03-26 01:00:00,Lorem ipsum,[],2,None
15,1,https://www.welcometothejungle.com/fr/missing-...,Data Engineer,Missing Data,China,CDD,Surveillance,NaN,2023-03-26 01:00:00,Lorem ipsum,[],3,None
16,1,https://www.welcometothejungle.com/fr/missing-...,Data Engineer,Missing Data,China,CDD,Surveillance,NaN,2023-03-26 01:00:00,Lorem ipsum,[],4,None
17,1,https://www.welcometothejungle.com/fr/missing-...,Data Engineer,Missing Data,China,CDD,Surveillance,NaN,2023-03-26 01:00:00,Lorem ipsum,[],5,None
18,1,https://www.welcometothejungle.com/fr/missing-...,Data Engineer,Missing Data,China,CDD,Surveillance,NaN,2023-03-26 01:00:00,Lorem ipsum,[],6,None
19,1,https://www.welcometothejungle.com/fr/missing-...,Data Engineer,Missing Data,China,CDD,Surveillance,NaN,2023-03-26 01:00:00,Lorem ipsum,[],7,None
20,1,https://www.welcometothejungle.com/fr/missing-...,Data Engineer,Missing Data,China,CDD,Surveillance,NaN,2023-03-26 01:00:00,Lorem ipsum,[],8,None
21,1,https://www.welcometothejungle.com/fr/missing-...,Data Engineer,Missing Data,China,CDD,Surveillance,NaN,2023-03-26 01:00:00,Lorem ipsum,[],9,None
22,1,https://www.welcometothejungle.com/fr/missing-...,Data Engineer,Missing Data,China,CDD,Surveillance,NaN,2023-03-26 01:00:00,Lorem ipsum,[],10,None
23,1,https://www.welcometothejungle.com/fr/missing-...,Data Engineer,Missing Data,China,CDD,Surveillance,NaN,2023-03-26 01:00:00,Lorem ipsum,[],11,None

In [61]:
csv = pd.read_csv('/Users/donor/PycharmProjects/data-job-etl/tests/data/test_melt_technos.csv',
                 dtype={'id': int}, parse_dates=['created_at'])
csv.dtypes

id                     int64
url                   object
title                 object
company               object
location              object
type                  object
industry              object
remote                object
created_at    datetime64[ns]
text                  object
stack                 object
variable               int64
value                 object
dtype: object

In [62]:
pivotted.dtypes

id                     int64
url                   object
title                 object
company               object
location              object
type                  object
industry              object
remote                object
created_at    datetime64[ns]
text                  object
stack                 object
variable              object
value                 object
dtype: object

In [63]:
assert_frame_equal(csv, pivotted)

AssertionError: DataFrame.iloc[:, 10] (column name="stack") are different

DataFrame.iloc[:, 10] (column name="stack") values are different (100.0 %)
[index]: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23]
[left]:  [['Airbyte', 'Prefect', 'GCP', 'SQL', 'BigQuery', 'Deepnote', 'Github', 'dbt', 'Looker', 'Prometheus', 'Python', 'Kubernetes'], ['Airbyte', 'Prefect', 'GCP', 'SQL', 'BigQuery', 'Deepnote', 'Github', 'dbt', 'Looker', 'Prometheus', 'Python', 'Kubernetes'], ['Airbyte', 'Prefect', 'GCP', 'SQL', 'BigQuery', 'Deepnote', 'Github', 'dbt', 'Looker', 'Prometheus', 'Python', 'Kubernetes'], ['Airbyte', 'Prefect', 'GCP', 'SQL', 'BigQuery', 'Deepnote', 'Github', 'dbt', 'Looker', 'Prometheus', 'Python', 'Kubernetes'], ['Airbyte', 'Prefect', 'GCP', 'SQL', 'BigQuery', 'Deepnote', 'Github', 'dbt', 'Looker', 'Prometheus', 'Python', 'Kubernetes'], ['Airbyte', 'Prefect', 'GCP', 'SQL', 'BigQuery', 'Deepnote', 'Github', 'dbt', 'Looker', 'Prometheus', 'Python', 'Kubernetes'], ['Airbyte', 'Prefect', 'GCP', 'SQL', 'BigQuery', 'Deepnote', 'Github', 'dbt', 'Looker', 'Prometheus', 'Python', 'Kubernetes'], ['Airbyte', 'Prefect', 'GCP', 'SQL', 'BigQuery', 'Deepnote', 'Github', 'dbt', 'Looker', 'Prometheus', 'Python', 'Kubernetes'], ['Airbyte', 'Prefect', 'GCP', 'SQL', 'BigQuery', 'Deepnote', 'Github', 'dbt', 'Looker', 'Prometheus', 'Python', 'Kubernetes'], ['Airbyte', 'Prefect', 'GCP', 'SQL', 'BigQuery', 'Deepnote', 'Github', 'dbt', 'Looker', 'Prometheus', 'Python', 'Kubernetes'], ['Airbyte', 'Prefect', 'GCP', 'SQL', 'BigQuery', 'Deepnote', 'Github', 'dbt', 'Looker', 'Prometheus', 'Python', 'Kubernetes'], ['Airbyte', 'Prefect', 'GCP', 'SQL', 'BigQuery', 'Deepnote', 'Github', 'dbt', 'Looker', 'Prometheus', 'Python', 'Kubernetes'], [], [], [], [], [], [], [], [], [], [], [], []]
[right]: [[Airbyte, Prefect, GCP, SQL, BigQuery, Deepnote, Github, dbt, Looker, Prometheus, Python, Kubernetes], [Airbyte, Prefect, GCP, SQL, BigQuery, Deepnote, Github, dbt, Looker, Prometheus, Python, Kubernetes], [Airbyte, Prefect, GCP, SQL, BigQuery, Deepnote, Github, dbt, Looker, Prometheus, Python, Kubernetes], [Airbyte, Prefect, GCP, SQL, BigQuery, Deepnote, Github, dbt, Looker, Prometheus, Python, Kubernetes], [Airbyte, Prefect, GCP, SQL, BigQuery, Deepnote, Github, dbt, Looker, Prometheus, Python, Kubernetes], [Airbyte, Prefect, GCP, SQL, BigQuery, Deepnote, Github, dbt, Looker, Prometheus, Python, Kubernetes], [Airbyte, Prefect, GCP, SQL, BigQuery, Deepnote, Github, dbt, Looker, Prometheus, Python, Kubernetes], [Airbyte, Prefect, GCP, SQL, BigQuery, Deepnote, Github, dbt, Looker, Prometheus, Python, Kubernetes], [Airbyte, Prefect, GCP, SQL, BigQuery, Deepnote, Github, dbt, Looker, Prometheus, Python, Kubernetes], [Airbyte, Prefect, GCP, SQL, BigQuery, Deepnote, Github, dbt, Looker, Prometheus, Python, Kubernetes], [Airbyte, Prefect, GCP, SQL, BigQuery, Deepnote, Github, dbt, Looker, Prometheus, Python, Kubernetes], [Airbyte, Prefect, GCP, SQL, BigQuery, Deepnote, Github, dbt, Looker, Prometheus, Python, Kubernetes], [], [], [], [], [], [], [], [], [], [], [], []]

In [64]:
print(pivotted.loc[1, 'stack'])

['Airbyte', 'Prefect', 'GCP', 'SQL', 'BigQuery', 'Deepnote', 'Github', 'dbt', 'Looker', 'Prometheus', 'Python', 'Kubernetes']

In [65]:
print(csv.loc[1, 'stack'])

['Airbyte', 'Prefect', 'GCP', 'SQL', 'BigQuery', 'Deepnote', 'Github', 'dbt', 'Looker', 'Prometheus', 'Python', 'Kubernetes']

### clean_df

In [66]:
def clean_pivot(df):
    df['technos'] = df['value']
    df.drop(['variable', 'stack', 'value'], axis=1, inplace=True)
    df.dropna(subset='technos', inplace=True)
    return df

In [67]:
cleaned = clean_pivot(pivotted)
cleaned

,id,url,title,company,location,type,industry,remote,created_at,text,technos
0,56886,https://www.welcometothejungle.com/fr/companie...,Data Engineer,52 Entertainment,Villeneuve-D'ascq,CDI,Jeux vid√©o,T√©l√©travail total possible,2023-03-26 01:00:00,52 Entertainment is a leading e-gaming company...,Airbyte
1,56886,https://www.welcometothejungle.com/fr/companie...,Data Engineer,52 Entertainment,Villeneuve-D'ascq,CDI,Jeux vid√©o,T√©l√©travail total possible,2023-03-26 01:00:00,52 Entertainment is a leading e-gaming company...,Prefect
2,56886,https://www.welcometothejungle.com/fr/companie...,Data Engineer,52 Entertainment,Villeneuve-D'ascq,CDI,Jeux vid√©o,T√©l√©travail total possible,2023-03-26 01:00:00,52 Entertainment is a leading e-gaming company...,GCP
3,56886,https://www.welcometothejungle.com/fr/companie...,Data Engineer,52 Entertainment,Villeneuve-D'ascq,CDI,Jeux vid√©o,T√©l√©travail total possible,2023-03-26 01:00:00,52 Entertainment is a leading e-gaming company...,SQL
4,56886,https://www.welcometothejungle.com/fr/companie...,Data Engineer,52 Entertainment,Villeneuve-D'ascq,CDI,Jeux vid√©o,T√©l√©travail total possible,2023-03-26 01:00:00,52 Entertainment is a leading e-gaming company...,BigQuery
5,56886,https://www.welcometothejungle.com/fr/companie...,Data Engineer,52 Entertainment,Villeneuve-D'ascq,CDI,Jeux vid√©o,T√©l√©travail total possible,2023-03-26 01:00:00,52 Entertainment is a leading e-gaming company...,Deepnote
6,56886,https://www.welcometothejungle.com/fr/companie...,Data Engineer,52 Entertainment,Villeneuve-D'ascq,CDI,Jeux vid√©o,T√©l√©travail total possible,2023-03-26 01:00:00,52 Entertainment is a leading e-gaming company...,Github
7,56886,https://www.welcometothejungle.com/fr/companie...,Data Engineer,52 Entertainment,Villeneuve-D'ascq,CDI,Jeux vid√©o,T√©l√©travail total possible,2023-03-26 01:00:00,52 Entertainment is a leading e-gaming company...,dbt
8,56886,https://www.welcometothejungle.com/fr/companie...,Data Engineer,52 Entertainment,Villeneuve-D'ascq,CDI,Jeux vid√©o,T√©l√©travail total possible,2023-03-26 01:00:00,52 Entertainment is a leading e-gaming company...,Looker
9,56886,https://www.welcometothejungle.com/fr/companie...,Data Engineer,52 Entertainment,Villeneuve-D'ascq,CDI,Jeux vid√©o,T√©l√©travail total possible,2023-03-26 01:00:00,52 Entertainment is a leading e-gaming company...,Prometheus
10,56886,https://www.welcometothejungle.com/fr/companie...,Data Engineer,52 Entertainment,Villeneuve-D'ascq,CDI,Jeux vid√©o,T√©l√©travail total possible,2023-03-26 01:00:00,52 Entertainment is a leading e-gaming company...,Python
11,56886,https://www.welcometothejungle.com/fr/companie...,Data Engineer,52 Entertainment,Villeneuve-D'ascq,CDI,Jeux vid√©o,T√©l√©travail total possible,2023-03-26 01:00:00,52 Entertainment is a leading e-gaming company...,Kubernetes

In [68]:
cleaned.to_csv('/Users/donor/PycharmProjects/data-job-etl/tests/data/test_clean_pivot.csv',
                index=False)

In [69]:
expected = pd.read_csv('/Users/donor/PycharmProjects/data-job-etl/tests/data/test_clean_pivot.csv',
                 dtype={'id': int}, parse_dates=['created_at'])

In [70]:
expected

,id,url,title,company,location,type,industry,remote,created_at,text,technos
0,56886,https://www.welcometothejungle.com/fr/companie...,Data Engineer,52 Entertainment,Villeneuve-D'ascq,CDI,Jeux vid√©o,T√©l√©travail total possible,2023-03-26 01:00:00,52 Entertainment is a leading e-gaming company...,Airbyte
1,56886,https://www.welcometothejungle.com/fr/companie...,Data Engineer,52 Entertainment,Villeneuve-D'ascq,CDI,Jeux vid√©o,T√©l√©travail total possible,2023-03-26 01:00:00,52 Entertainment is a leading e-gaming company...,Prefect
2,56886,https://www.welcometothejungle.com/fr/companie...,Data Engineer,52 Entertainment,Villeneuve-D'ascq,CDI,Jeux vid√©o,T√©l√©travail total possible,2023-03-26 01:00:00,52 Entertainment is a leading e-gaming company...,GCP
3,56886,https://www.welcometothejungle.com/fr/companie...,Data Engineer,52 Entertainment,Villeneuve-D'ascq,CDI,Jeux vid√©o,T√©l√©travail total possible,2023-03-26 01:00:00,52 Entertainment is a leading e-gaming company...,SQL
4,56886,https://www.welcometothejungle.com/fr/companie...,Data Engineer,52 Entertainment,Villeneuve-D'ascq,CDI,Jeux vid√©o,T√©l√©travail total possible,2023-03-26 01:00:00,52 Entertainment is a leading e-gaming company...,BigQuery
5,56886,https://www.welcometothejungle.com/fr/companie...,Data Engineer,52 Entertainment,Villeneuve-D'ascq,CDI,Jeux vid√©o,T√©l√©travail total possible,2023-03-26 01:00:00,52 Entertainment is a leading e-gaming company...,Deepnote
6,56886,https://www.welcometothejungle.com/fr/companie...,Data Engineer,52 Entertainment,Villeneuve-D'ascq,CDI,Jeux vid√©o,T√©l√©travail total possible,2023-03-26 01:00:00,52 Entertainment is a leading e-gaming company...,Github
7,56886,https://www.welcometothejungle.com/fr/companie...,Data Engineer,52 Entertainment,Villeneuve-D'ascq,CDI,Jeux vid√©o,T√©l√©travail total possible,2023-03-26 01:00:00,52 Entertainment is a leading e-gaming company...,dbt
8,56886,https://www.welcometothejungle.com/fr/companie...,Data Engineer,52 Entertainment,Villeneuve-D'ascq,CDI,Jeux vid√©o,T√©l√©travail total possible,2023-03-26 01:00:00,52 Entertainment is a leading e-gaming company...,Looker
9,56886,https://www.welcometothejungle.com/fr/companie...,Data Engineer,52 Entertainment,Villeneuve-D'ascq,CDI,Jeux vid√©o,T√©l√©travail total possible,2023-03-26 01:00:00,52 Entertainment is a leading e-gaming company...,Prometheus
10,56886,https://www.welcometothejungle.com/fr/companie...,Data Engineer,52 Entertainment,Villeneuve-D'ascq,CDI,Jeux vid√©o,T√©l√©travail total possible,2023-03-26 01:00:00,52 Entertainment is a leading e-gaming company...,Python
11,56886,https://www.welcometothejungle.com/fr/companie...,Data Engineer,52 Entertainment,Villeneuve-D'ascq,CDI,Jeux vid√©o,T√©l√©travail total possible,2023-03-26 01:00:00,52 Entertainment is a leading e-gaming company...,Kubernetes

In [71]:
assert_frame_equal(expected, cleaned)